<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>

      *, ::before, ::after { box-sizing: border-box; border-width: 0;
      border-style: solid; border-color: #e5e7eb; } ::before, ::after {
      --tw-content: ''; } .icon:after { font-family: "Font Awesome 6 Free";
      font-weight: 900; font-size: 0.6rem; color: #ffffff; margin-left: 4px;
      padding: 2px; border: 1px solid #ffffff; border-radius: 50%; } html {
      line-height: 1.5; -webkit-text-size-adjust: 100%; tab-size: 4;
      font-family: 'Montserrat', sans-serif; -webkit-font-feature-settings:
      normal; font-feature-settings: normal; font-variation-settings: normal; }
      body { margin: 0; line-height: inherit; } hr { height: 0; color: inherit;
      border-top-width: 1px; } abbr:where([title]) { -webkit-text-decoration:
      underline dotted; text-decoration: underline dotted; } h1, h2, h3, h4, h5,
      h6 { font-size: inherit; font-weight: inherit; } b, strong { font-weight:
      bolder; } code, kbd, samp, pre { font-family: ui-monospace,
      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      monospace; font-size: 1em; } small { font-size: 80%; } sub, sup {
      font-size: 75%; line-height: 0; position: relative; vertical-align:
      baseline; } sub { bottom: -0.25em; } sup { top: -0.5em; } table {
      text-indent: 0; border-color: inherit; border-collapse: collapse; }
      :-moz-focusring { outline: auto; } :-moz-ui-invalid { box-shadow: none; }
      img, svg, video, canvas, audio, iframe, embed, object { display: block;
      vertical-align: middle; } img, video { max-width: 100%; height: auto; }
      [hidden] { display: none; } @font-face { font-family: montserratBold; src:
      url(./assets/font-montserrat/Montserrat-Black.ttf); } @font-face {
      font-family: montserratThin; src:
      url(./assets/font-montserrat/Montserrat-Light.ttf); } h1, h2, h3 {
      font-family: montserratBold; color: #002c3c; } body { font-family:
      montserratThin; color: #414042; } .icon-home::after { content: "\f015"; }
      .icon-phone::after { content: "\f095"; } .icon-globe::after { content:
      "\f0ac"; } .icon-envelop::after { content: "\f0e0"; } *, ::before, ::after
      { --tw-border-spacing-x: 0; --tw-border-spacing-y: 0; --tw-translate-x: 0;
      --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0;
      --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ;
      --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position: ; --tw-gradient-via-position: ;
      --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ;
      --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ;
      --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color:
      #fff; --tw-ring-color: rgb(59 130 246 / 0.5); --tw-ring-offset-shadow: 0 0
      #0000; --tw-ring-shadow: 0 0 #0000; --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000; --tw-blur: ; --tw-brightness: ;
      --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ;
      --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ;
      --tw-backdrop-brightness: ; --tw-backdrop-contrast: ;
      --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ;
      --tw-backdrop-sepia: ; } ::-webkit-backdrop { --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0;
      --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1;
      --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ;
      --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ;
      --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ;
      --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff; --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000; --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000; --tw-shadow-colored: 0 0 #0000; --tw-blur: ;
      --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ;
      --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ;
      --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast:
      ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ;
      --tw-backdrop-sepia: ; } ::backdrop { --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0;
      --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1;
      --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ;
      --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ;
      --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ;
      --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff; --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000; --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000; --tw-shadow-colored: 0 0 #0000; --tw-blur: ;
      --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ;
      --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ;
      --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast:
      ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ;
      --tw-backdrop-sepia: ; } .absolute { position: absolute; } .relative {
      position: relative; } .right-\[-40px\] { right: -40px; } .top-\[-25px\] {
      top: -25px; } .m-1 { margin: 0.25rem; } .flex { display: flex; } .grid {
      display: grid; } .h-28 { height: 7rem; } .h-3 { height: 0.75rem; } .h-4 {
      height: 1rem; } .h-5 { height: 1.25rem; } .h-\[1px\] { height: 1px; }
      .h-\[2in\] { height: 2in; } .h-full { height: 100%; } .w-3 { width:
      0.75rem; } .w-40 { width: 10rem; } .w-6 { width: 1.5rem; } .w-\[3\.5in\] {
      width: 3.5in; } .w-full { width: 100%; } .grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr)); } .grid-rows-2 {
      grid-template-rows: repeat(2, minmax(0, 1fr)); } .flex-row {
      flex-direction: row; } .flex-col { flex-direction: column; }
      .place-items-center { place-items: center; } .items-center { align-items:
      center; } .justify-center { justify-content: center; } .gap-0 { gap: 0px;
      } .gap-2 { gap: 0.5rem; } .gap-3 { gap: 0.75rem; } .gap-4 { gap: 1rem; }
      .overflow-hidden { overflow: hidden; } .rounded-sm { border-radius:
      0.125rem; } .bg-black { --tw-bg-opacity: 1; background-color: rgb(0 0 0 /
      var(--tw-bg-opacity)); } .bg-gray-200 { --tw-bg-opacity: 1;
      background-color: rgb(229 231 235 / var(--tw-bg-opacity)); } .bg-white {
      --tw-bg-opacity: 1; background-color: rgb(255 255 255 /
      var(--tw-bg-opacity)); } .p-5 { padding: 1.25rem; } .text-\[\.5rem\] {
      font-size: .5rem; } .text-\[0\.6rem\] { font-size: 0.6rem; } .text-base {
      font-size: 1rem; line-height: 1.5rem; } .text-lg { font-size: 1.125rem;
      line-height: 1.75rem; } .font-bold { font-weight: 700; } .font-semibold {
      font-weight: 600; } .uppercase { text-transform: uppercase; }
      .tracking-wide { letter-spacing: 0.025em; } .tracking-wider {
      letter-spacing: 0.05em; } .tracking-widest { letter-spacing: 0.1em; }
      .text-\[\#f4951d\] { --tw-text-opacity: 1; color: rgb(244 149 29 /
      var(--tw-text-opacity)); } .text-white { --tw-text-opacity: 1; color:
      rgb(255 255 255 / var(--tw-text-opacity)); }
    </style>
  </head>
  <body>
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-[3.5in] h-[2in] bg-white bg-[url('./assets/white-texture.jpg')] bg-cover bg-left-top"
        id="side-1"
      >
        <div class="h-full grid place-items-center">
          <div class="grid place-items-center">
            <div class="h-24 w-40">
              <img src="{{logo}}" />
            </div>
            <h1 class="text-xl font-bold uppercase">{{company}}</h1>
          </div>
        </div>
      </div>
      <div class="w-[3.5in] h-[2in] bg-white" id="side-2">
        <div class="flex flex-row h-full">
          <div
            class="grid place-items-center content-center p-3 bg-[url('./assets/white-texture.jpg')] bg-cover bg-left-top"
          >
            <div class="h-14 w-20">
              <img src="{{logo}}" />
            </div>
            <h1 class="text-[.6rem] font-bold uppercase">{{company}}</h1>
          </div>
          <div class="bg-[#002c3c] flex-1">
            <div class="flex flex-col items-end h-full p-5">
              <div class="text-right">
                <h1
                  class="text-lg font-bold text-[#66cef5] uppercase leading-tight"
                >
                  {{designation}}
                </h1>
              </div>
              <div class="pt-1 my-1 bg-white w-[45%]"></div>
              <div class="flex flex-col items-end">
                <div class="icon icon-phone">
                  <span class="text-white text-[0.6rem]">{{phone}}</span>
                </div>
                <div class="icon icon-envelop">
                  <span class="text-white text-[0.6rem]">{{email}}</span>
                </div>
                <div class="icon icon-globe">
                  <span class="text-white text-[0.6rem]">{{website}}</span>
                </div>
                <div class="icon icon-home">
                  <span class="text-white text-[0.6rem]">{{location}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>