<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      *, ::before, ::after { box-sizing: border-box; border-width: 0;
      border-style: solid; border-color: #e5e7eb; } ::before, ::after {
      --tw-content: ''; } html { line-height: 1.5; -webkit-text-size-adjust:
      100%; tab-size: 4; font-family: ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto
      Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI
      Symbol", "Noto Color Emoji"; -webkit-font-feature-settings: normal;
      font-feature-settings: normal; font-variation-settings: normal; } body {
      margin: 0; line-height: inherit; } hr { height: 0; color: inherit;
      border-top-width: 1px; } abbr:where([title]) { -webkit-text-decoration:
      underline dotted; text-decoration: underline dotted; } h1, h2, h3, h4, h5,
      h6 { font-size: inherit; font-weight: inherit; } a { color: inherit;
      text-decoration: inherit; } b, strong { font-weight: bolder; } code, kbd,
      samp, pre { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace; font-size: 1em; }
      small { font-size: 80%; } sub, sup { font-size: 75%; line-height: 0;
      position: relative; vertical-align: baseline; } sub { bottom: -0.25em; }
      sup { top: -0.5em; } table { text-indent: 0; border-color: inherit;
      border-collapse: collapse; } button, input, optgroup, select, textarea {
      font-family: inherit; -webkit-font-feature-settings: inherit;
      font-feature-settings: inherit; font-variation-settings: inherit;
      font-size: 100%; font-weight: inherit; line-height: inherit; color:
      inherit; margin: 0; padding: 0; } button, select { text-transform: none; }
      button, [type='button'], [type='reset'], [type='submit'] {
      -webkit-appearance: button; background-color: transparent;
      background-image: none; } :-moz-focusring { outline: auto; }
      :-moz-ui-invalid { box-shadow: none; } progress { vertical-align:
      baseline; } ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
      height: auto; } [type='search'] { -webkit-appearance: textfield;
      outline-offset: -2px; } ::-webkit-search-decoration { -webkit-appearance:
      none; } ::-webkit-file-upload-button { -webkit-appearance: button; font:
      inherit; } summary { display: list-item; } blockquote, dl, dd, h1, h2, h3,
      h4, h5, h6, hr, figure, p, pre { margin: 0; } fieldset { margin: 0;
      padding: 0; } legend { padding: 0; } ol, ul, menu { list-style: none;
      margin: 0; padding: 0; } dialog { padding: 0; } textarea { resize:
      vertical; } input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder { opacity: 1; color: #9ca3af; }
      input::placeholder, textarea::placeholder { opacity: 1; color: #9ca3af; }
      button, [role="button"] { cursor: pointer; } :disabled { cursor: default;
      } img, svg, video, canvas, audio, iframe, embed, object { display: block;
      vertical-align: middle; } img, video { max-width: 100%; height: auto; }
      [hidden] { display: none; } @font-face { font-family: montserratBold; src:
      url(./assets/font-montserrat/Montserrat-Bold.ttf); } @font-face {
      font-family: montserratThin; src:
      url(./assets/font-montserrat/Montserrat-Medium.ttf); } h1, h2, h3 {
      font-family: montserratBold; } body { font-family: montserratThin; } *,
      ::before, ::after { --tw-border-spacing-x: 0; --tw-border-spacing-y: 0;
      --tw-translate-x: 0; --tw-translate-y: 0; --tw-rotate: 0; --tw-skew-x: 0;
      --tw-skew-y: 0; --tw-scale-x: 1; --tw-scale-y: 1; --tw-pan-x: ;
      --tw-pan-y: ; --tw-pinch-zoom: ; --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position: ; --tw-gradient-via-position: ;
      --tw-gradient-to-position: ; --tw-ordinal: ; --tw-slashed-zero: ;
      --tw-numeric-figure: ; --tw-numeric-spacing: ; --tw-numeric-fraction: ;
      --tw-ring-inset: ; --tw-ring-offset-width: 0px; --tw-ring-offset-color:
      #fff; --tw-ring-color: rgb(59 130 246 / 0.5); --tw-ring-offset-shadow: 0 0
      #0000; --tw-ring-shadow: 0 0 #0000; --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000; --tw-blur: ; --tw-brightness: ;
      --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ; --tw-invert: ;
      --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ; --tw-backdrop-blur: ;
      --tw-backdrop-brightness: ; --tw-backdrop-contrast: ;
      --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ;
      --tw-backdrop-sepia: ; } ::-webkit-backdrop { --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0;
      --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1;
      --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ;
      --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ;
      --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ;
      --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff; --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000; --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000; --tw-shadow-colored: 0 0 #0000; --tw-blur: ;
      --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ;
      --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ;
      --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast:
      ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ;
      --tw-backdrop-sepia: ; } ::backdrop { --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0; --tw-translate-x: 0; --tw-translate-y: 0;
      --tw-rotate: 0; --tw-skew-x: 0; --tw-skew-y: 0; --tw-scale-x: 1;
      --tw-scale-y: 1; --tw-pan-x: ; --tw-pan-y: ; --tw-pinch-zoom: ;
      --tw-scroll-snap-strictness: proximity; --tw-gradient-from-position: ;
      --tw-gradient-via-position: ; --tw-gradient-to-position: ; --tw-ordinal: ;
      --tw-slashed-zero: ; --tw-numeric-figure: ; --tw-numeric-spacing: ;
      --tw-numeric-fraction: ; --tw-ring-inset: ; --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff; --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000; --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000; --tw-shadow-colored: 0 0 #0000; --tw-blur: ;
      --tw-brightness: ; --tw-contrast: ; --tw-grayscale: ; --tw-hue-rotate: ;
      --tw-invert: ; --tw-saturate: ; --tw-sepia: ; --tw-drop-shadow: ;
      --tw-backdrop-blur: ; --tw-backdrop-brightness: ; --tw-backdrop-contrast:
      ; --tw-backdrop-grayscale: ; --tw-backdrop-hue-rotate: ;
      --tw-backdrop-invert: ; --tw-backdrop-opacity: ; --tw-backdrop-saturate: ;
      --tw-backdrop-sepia: ; } .mx-auto { margin-left: auto; margin-right: auto;
      } .my-auto { margin-top: auto; margin-bottom: auto; } .ml-1 { margin-left:
      0.25rem; } .mr-1 { margin-right: 0.25rem; } .flex { display: flex; } .grid
      { display: grid; } .h-12 { height: 3rem; } .h-14 { height: 3.5rem; }
      .h-\[2in\] { height: 2in; } .h-\[40\%\] { height: 40%; } .h-\[60\%\] {
      height: 60%; } .h-fit { height: -webkit-fit-content; height:
      -moz-fit-content; height: fit-content; } .h-full { height: 100%; } .w-20 {
      width: 5rem; } .w-\[0\.7rem\] { width: 0.7rem; } .w-\[3\.5in\] { width:
      3.5in; } .w-\[40\%\] { width: 40%; } .w-fit { width: -webkit-fit-content;
      width: -moz-fit-content; width: fit-content; } .flex-row { flex-direction:
      row; } .flex-col { flex-direction: column; } .place-items-center {
      place-items: center; } .content-center { align-content: center; }
      .items-start { align-items: flex-start; } .items-center { align-items:
      center; } .justify-center { justify-content: center; } .gap-2 { gap:
      0.5rem; } .border-b-2 { border-bottom-width: 2px; } .border-\[\#02579b\] {
      --tw-border-opacity: 1; border-color: rgb(2 87 155 /
      var(--tw-border-opacity)); } .bg-\[\#02579b\] { --tw-bg-opacity: 1;
      background-color: rgb(2 87 155 / var(--tw-bg-opacity)); } .bg-white {
      --tw-bg-opacity: 1; background-color: rgb(255 255 255 /
      var(--tw-bg-opacity)); }
      .bg-\[url\(\'\.\.\/assets\/css\/radient-background\.PNG\'\)\] {
      background-image: url('../assets/css/radient-background.PNG'); }
      .bg-\[url\(\'\.\.\/assets\/css\/radient-background2\.PNG\'\)\] {
      background-image: url('../assets/css/radient-background2.PNG'); }
      .bg-cover { background-size: cover; } .bg-left-top { background-position:
      left top; } .p-5 { padding: 1.25rem; } .py-3 { padding-top: 0.75rem;
      padding-bottom: 0.75rem; } .pb-1 { padding-bottom: 0.25rem; } .pb-4 {
      padding-bottom: 1rem; } .pl-3 { padding-left: 0.75rem; } .pl-\[1\.5px\] {
      padding-left: 1.5px; } .pl-\[2px\] { padding-left: 2px; } .text-center {
      text-align: center; } .text-right { text-align: right; } .text-\[\.6rem\]
      { font-size: .6rem; } .text-\[0\.5rem\] { font-size: 0.5rem; } .text-lg {
      font-size: 1.125rem; line-height: 1.75rem; } .text-xs { font-size:
      0.75rem; line-height: 1rem; } .font-bold { font-weight: 700; } .uppercase
      { text-transform: uppercase; } .leading-tight { line-height: 1.25; }
      .text-black { --tw-text-opacity: 1; color: rgb(0 0 0 /
      var(--tw-text-opacity)); }

    </style>
  </head>
  <body class="bg-gray-100">
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-[3.5in] h-[2in] bg-white bg-[url('./assets/radient-background.PNG')] bg-cover bg-left-top"
        id="side-1"
      >
        <div class="h-full grid place-items-center">
          <div class="grid place-items-center">
            <div class="h-12 w-20">
              <img src="{{logo}}" />
            </div>
            <h1 class="text-xs font-bold uppercase">{{company}}</h1>
          </div>
        </div>
      </div>
      <div
        class="w-[3.5in] h-[2in] bg-[url('./assets/radient-background2.PNG')] bg-cover bg-left-top"
        id="side-2"
      >
        <div class="flex flex-row h-full">
          <div class="grid place-items-center content-center py-3 pl-3 w-[40%]">
            <div class="h-14 w-20">
              <img src="{{logo}}" />
            </div>
            <h1 class="text-[.6rem] font-bold uppercase">{{company}}</h1>
          </div>
          <div class="h-full flex items-center">
            <div
              class="h-[60%] pl-[1.5px] bg-[#02579b] flex items-center"
            ></div>
            <div
              class="h-[40%] pl-[2px] ml-1 bg-[#02579b] flex items-center"
            ></div>
          </div>
          <div class="flex items-center">
            <div class="flex flex-col h-fit my-auto p-5">
              <div class="text-right pb-4">
                <h4
                  class="text-lg w-fit mx-auto text-black leading-tight pb-1 border-b-2 border-[#02579b]"
                >
                  {{title}}
                </h4>
                <h5 class="text-center text-[0.5rem]">{{designation}}</h5>
              </div>
              <div class="flex flex-col items-start">
                <div class="flex">
                  <img
                    class="w-[0.7rem] mr-1"
                    src="./assets/phone-blue-round.svg"
                    alt="phone"
                  />
                  <span class="text-[0.5rem]">{{phone}}</span>
                </div>
                <div class="flex">
                  <img
                    class="w-[0.7rem] mr-1"
                    src="./assets/envelop-blue-round.svg"
                    alt="email"
                  />
                  <span class="text-[0.5rem]">{{email}}</span>
                </div>
                <div class="flex">
                  <img
                    class="w-[0.7rem] mr-1"
                    src="./assets/homeicon-blue-rounded.svg"
                    alt="address"
                  />
                  <span class="text-[0.5rem]">{{location}}</span>
                </div>
                <div class="flex">
                  <img
                    class="w-[0.7rem] mr-1"
                    src="./assets/globe-blue-rounded.svg"
                    alt="website"
                  />
                  <span class="text-[0.5rem]">{{website}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>